body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 2em;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.bookCover {
  width: 25%;
}

.booksDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label {
  margin: 5px
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  box-shadow: 3px 3px rgb(145, 142, 142);
  border-radius: 2%;
}